@page "/Menu"
@using Client.Data
@using Client.Models
@using System.Text.Json
@using System.Collections.ObjectModel
@inject ITest tst
<h3>Menu</h3>
@if (men == null) {
    <p>
        <em>Loading...</em>
    </p>
}
else if (!men.Any()) {
    <p>
        <em>cant load menu.</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr><th>*</th>
            <th>items</th>
            <th>price</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in men)
        {
            <tr>
                <td><button class="btn" @onclick="() => orderedmenuitems.Add(item)">
                        @item.number
                    </button>
                </td>
                <td>@item.food</td>
                <td>@item.price DKK</td>
                <!--<td>/td>-->
                <td>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <br/>
    <h4>Make order</h4>
    <EditForm Model="@o" OnValidSubmit="@SendOrder">
        <label for="fname">Adresse:</label><br>
        <InputTextArea rows="1" @bind-Value="x"/>
        <p></p>
        <label for="fname">Email:</label><br>
        <InputTextArea rows="1" @bind-Value="y"/>
        <p></p>
    <input type="submit" value="Submit">
    </EditForm>

    //<button class="btn btn-primary" @onclick="SendOrder">send to server</button>
    <button class="btn btn-primary" @onclick="AddOrder">test addorder</button>
    
}

@code {
    private static string listuri = "http://localhost:8080/menu/1";
    private string x,y,z;
    static MenuObject onitem = new MenuObject();
    static IList<MenuObject> men = new List<MenuObject>();
    static IList<MenuObject> orderedmenuitems = new List<MenuObject>();
    //static IList<MenuObject> menu = new List<MenuObject>();
    static IList<OrderObject> orders = new Collection<OrderObject>();
    OrderObject o = new OrderObject();
    //private Test test = new Test();
    //private Test alltests;
    //private int currentCount = 0;
    
    //OnInitializedAsync gør så metoden automatisk bliver kaldt, når siden er laoded
    //virker
    protected override async Task OnInitializedAsync()
    {
        orderedmenuitems.Clear();
    //Console.WriteLine(tst.GetListAsync("1"));
        for (int x = 1; x <= 5; x++)
        {
            if (men.Count == 0)
            {
                men.Add(await tst.GetMenuAsync(x));
            }
            else if (men.Count > 0)
            {
                men.Clear();
                men.Add(await tst.GetMenuAsync(1));
                men.Add(await tst.GetMenuAsync(2));
                men.Add(await tst.GetMenuAsync(3));
                men.Add(await tst.GetMenuAsync(4));
                men.Add(await tst.GetMenuAsync(5));
            }
            
        }
        HttpClient client = new HttpClient();
        Task<string> stringAsync = client.GetStringAsync(listuri);
        string message = await stringAsync;
        MenuObject result = JsonSerializer.Deserialize<MenuObject>(message);
    //onitem.food = result;
        //onitem.price = 500;
        
       // men.Add(onitem);
        //int a = 0;
        //Console.WriteLine(result.food);

    //alltests = tst.GetListAsync("1");
        //todos = allTodos;
        //todos = TodoData.GetTodos();
    }

    public async Task AddOrder()
    {
        for (int x = 0; x < orderedmenuitems.Count; x++)
        {
            o.price += orderedmenuitems[x].price;
            o.items += orderedmenuitems[x].food+" + ";
        }
        Random number = new Random();
        o.adr = x;
        o.ordernumber = number.Next(100000)+1;
        Console.WriteLine("mad tilføjet til bestilling: "+o.items);
        Console.WriteLine("total pris af bestilling: "+o.price);
        Console.WriteLine("bestillingsNummer: "+o.ordernumber);
        Console.WriteLine("Til adresse: "+o.adr);

        await tst.SendOrderAsync(o);
        
    }

    //virker
    public async Task SendOrder()
    {
        o.ordernumber = 1;
        o.price = 112;
        o.items = "Rød grød med fløde";
        o.adr = x;
        orders.Add(o);

        for (int x = 0; x < orders.Count; x++)
        {
            await tst.SendOrderAsync(o);
        }
        orders.Clear();
    }

    
    /*public static async Task<IList<MenuObject>> GetListAsync()
    {
        return null;
    }*/
}
